---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ethan Hassett">
  <div class="w-fit">
    <p class="heading">404: Not Found</p>
    <hr class="mt-4 border-light-500 dark:border-dark-100" />
    <div class="mt-4">
      <a href="/">&#8250; go home</a>
    </div>
  </div>
</Layout>
