---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ethan Hassett">
  <div class="w-fit">
    <p class="heading">404: Not Found</p>
    <hr class="divider" />
    <a href="/">&#8250; go home</a>
  </div>
</Layout>
