---
import Layout from "../layouts/Layout.astro";
import "../styles/fonts.css";
---

<Layout title="Ethan Hassett">
  <div class="font-arvo text-center pt-24">
    <p class="text-mikado-yellow text-3xl lg:text-4xl mb-2">404: Not Found</p>
  </div>
</Layout>
