---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ethan Hassett | Get in Touch">
  <div class="w-full">
    <p class="heading">Get in Touch</p>
    <form id="contact" class="mb-(--space-m) flex w-full">
      <div class="mr-(--space-s) flex flex-col gap-(--space-m)">
        <label class="mt-(--space-3xs)" for="name">name</label>
        <label for="email">email</label>
        <label class="-mt-(--space-3xs)" for="message">message</label>
      </div>
      <div class="flex flex-1 flex-col gap-(--space-m)">
        <input
          class="contact-input border-b-2"
          type="text"
          id="name"
          name="name"
        />
        <input
          class="contact-input border-b-2"
          type="email"
          id="email"
          name="email"
        />
        <textarea
          class="contact-input mt-(--space-3xs) min-h-(--space-3xl) border-2"
          id="message"
          name="message"></textarea>
      </div>
    </form>
    <button class="cursor-pointer" form="contact" type="submit">
      &#8250; submit
    </button>
  </div>
</Layout>
