---
import Menu from "./Menu.astro";
---

<footer class="w-full absolute bottom-0 px-3 py-2">
  <div class="hidden md:grid grid-cols-2">
    <div>
      <a
        href="https://github.com/ehassett"
        target="_blank"
        rel="noopener noreferrer"
      >
        github
      </a>
      <span class="inline">/</span>
      <a
        href="https://linkedin.com/in/ehassett"
        target="_blank"
        rel="noopener noreferrer"
      >
        linkedin
      </a>
    </div>
    <a
      href="https://github.com/ehassett/ethanhassett"
      target="_blank"
      rel="noopener noreferrer"
      class="text-right"
    >
      view source
    </a>
  </div>
  <Menu classes="text-center md:hidden" />
</footer>
