<footer class="p-(--space-2xs)">
  <div class="flex justify-between">
    <div class="flex flex-wrap">
      <a
        href="https://github.com/ehassett"
        target="_blank"
        rel="noopener noreferrer"
        class="connect-link">github</a
      >
      <a
        href="https://linkedin.com/in/ehassett"
        target="_blank"
        rel="noopener noreferrer"
        class="connect-link">linkedin</a
      >
    </div>
    <div class="flex">
      <a
        href="https://github.com/ehassett/ethanhassett"
        target="_blank"
        rel="noopener noreferrer"
        class="self-end text-nowrap"
      >
        view source
      </a>
    </div>
  </div>
</footer>
