---
import MenuLink from "./MenuLink.astro";

const { classes } = Astro.props;
---

<div class:list={classes}>
  <MenuLink path="/" text="home" />
  <MenuLink path="/work" text="work" />
  <MenuLink path="/posts" text="posts" />
  <MenuLink path="/resume" text="resume" />
  <MenuLink path="/contact" text="contact" />
</div>
