---
const { classes } = Astro.props;
---

<div class:list={classes}>
  <span class="menu-link"><a href="/">home</a></span>
  <span class="menu-link"><a href="/work">work</a></span>
  <span class="menu-link"><a href="/posts">posts</a></span>
  <span class="menu-link"><a href="/resume">resume</a></span>
  <span class="menu-link"><a href="/contact">contact</a></span>
</div>
