---
const { classes } = Astro.props;
---

<div class:list={classes}>
  <a href="/">home</a>
  <span class="inline">/</span>
  <a href="/work">work</a>
  <span class="inline">/</span>
  <a href="/posts">posts</a>
  <span class="inline">/</span>
  <a href="/resume">resume</a>
  <span class="inline">/</span>
  <a href="/contact">contact</a>
</div>
