---
interface Props {
  path: string;
  text: string;
  external?: boolean;
}

const { path, text, external = false } = Astro.props;
const currentPath = Astro.url.pathname;
const isActive = currentPath === path || currentPath === `${path}/`;
---

<li>
  <a
    class:list={["nav-link", { active: isActive }]}
    href={path}
    target={external ? "_blank" : "_self"}>{text}</a
  >
</li>
