---
import { fade } from "astro:transitions";
import { slide } from "astro:transitions";

import BaseLayout from "../layouts/BaseLayout.astro";
import Skills from "../components/Skills.astro";
---

<BaseLayout>
  <div class="grid grid-cols-5 gap-8">
    <div
      transition:animate={fade({ duration: "0.5s" })}
      class="col-span-5 md:col-span-4 xl:col-span-2"
    >
      <p>
        Thanks for visiting! I'm a Cloud & DevOps Engineer based in the United
        States with a development and sysadmin background. I enjoy designing
        beautiful systems, improving efficiency and safety, while working with
        all aspects of a software project. I'm currently a Cloud Engineer at
        Auction Edge, open to consulting or contracting opportunities with
        clients worldwide.
      </p>

      <div class="mt-2 text-light-400 underline">
        <a class="connect-link" href="https://github.com/ehassett">GitHub</a>
        <a class="connect-link" href="https://linkedin.com/in/ehassett"
          >LinkedIn</a
        >
        <a class="connect-link" href="/resume">Resume</a>
        <a class="connect-link" href="mailto:ethan@hassett.io">Get in Touch</a>
      </div>
    </div>

    <div
      transition:animate={fade({ duration: "1s" })}
      class="col-span-5 grid grid-rows-2 gap-y-4 md:col-span-4 md:col-start-2 lg:gap-y-8 xl:col-span-2 xl:col-start-4"
    >
      <Skills
        title="Cloud & DevOps"
        items={[
          "AWS",
          "Infrastructure-as-Code",
          "CI/CD Pipelines",
          "Docker/Kubernetes",
          "Configuration Management",
        ]}
      />
      <Skills
        title="Development"
        items={[
          "Scripting (Go, Python, Shell)",
          "Node, Astro, Rails",
          "Tailwind, Bootstrap",
          "C++, Java",
        ]}
      />
    </div>
  </div>

  <footer
    transition:animate={slide({ duration: "1.5s" })}
    class="text-8xl lg:text-[10rem] 2xl:text-[12rem] 3xl:text-[14rem] absolute bottom-0"
  >
    <p>Ethan Hassett</p>
  </footer>
</BaseLayout>
