---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="text-8xl lg:text-[10rem] 2xl:text-[12rem] 3xl:text-[14rem]">
    <a href="/">Ethan Hassett</a>
  </div>
</BaseLayout>
