<footer class="lg:absolute lg:bottom-4 lg:grid lg:grid-cols-3 text-center">
  <div class="mt-4 font-light lg:text-left">
    <p>
      Download my full resume <a class="underline hover:cursor-pointer">here</a>
    </p>
  </div>

  <div class="underline mt-4 font-light">
    <a class="connect-link" href="https://github.com/ehassett">GitHub</a>
    <a class="connect-link" href="https://linkedin.com/in/ehassett">LinkedIn</a>
    <a class="connect-link" href="mailto:ethan@hassett.io">ethan@hassett.io</a>
  </div>

  <div class="mt-4 font-light lg:text-right">
    <p>
      View this site's <a
        class="underline hover:cursor-pointer"
        href="https://github.com/ehassett/ethanhassett.com">code</a>
    </p>
  </div>
</footer>
