<div class="font-arvo mt-10 lg:mt-0">
  <p>
    I'm a Cloud & DevOps engineer based in <a
      class="text-mikado-yellow underline"
      href="https://www.youtube.com/watch?v=SJ3plaSowWc">Cleveland, OH</a
    > but open to new consulting and contracting opportunities worldwide.
  </p>
  <br />
  <p>
    I currently work with <a
      class="text-mikado-yellow underline"
      href="https://auctionedge.com">Auction Edge</a
    > as a Cloud Engineer. I have extensive background in AWS, Terraform, and system
    administration with some experience in web development as well. My personal projects
    can be found on <a
      class="text-mikado-yellow underline"
      href="https://github.com/ehassett">GitHub.</a
    >
  </p>
  <br />
  <p>I also love travel, techno, and good coffee.</p>
</div>
