@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Departure Mono";
  src: url("/fonts/DepartureMono/DepartureMono.woff") format("woff");
}

@theme {
  --font-departure-mono: "Departure Mono", monospace;

  --color-dark-100: #495057;
  --color-dark-200: #3f454c;
  --color-dark-300: #343a40;
  --color-dark-400: #2b3035;
  --color-dark-500: #212529;
  --color-light-100: #f8f9fa;
  --color-light-200: #e9ecef;
  --color-light-300: #dee2e6;
  --color-light-400: #ced4da;
  --color-light-500: #adb5bd;

  --autofill-dark: inset 0 0 0px 1000px var(--color-dark-500);
  --autofill-light: inset 0 0 0px 1000px var(--color-light-100);
}

@layer base {
  ::selection {
    @apply bg-light-300 text-dark-500;
    -webkit-text-fill-color: var(--color-dark-500) !important;
  }

  ::-moz-selection {
    @apply bg-light-300 text-dark-500;
    -webkit-text-fill-color: var(--color-dark-500) !important;
  }

  :-webkit-autofill,
  :-webkit-autofill:focus {
    @apply text-dark-100;
    -webkit-text-fill-color: var(--color-dark-100) !important;
  }

  ::-webkit-contacts-auto-fill-button {
    @apply bg-dark-100;
  }

  ::-webkit-contacts-auto-fill-button:hover {
    @apply bg-dark-500;
  }

  .dark :-webkit-autofill,
  .dark :-webkit-autofill:focus {
    @apply text-light-500;
    -webkit-text-fill-color: var(--color-light-500) !important;
  }

  .dark ::-webkit-contacts-auto-fill-button {
    @apply bg-light-500;
  }

  .dark ::-webkit-contacts-auto-fill-button:hover {
    @apply bg-light-100;
  }
}

@layer components {
  .heading {
    @apply mb-2 text-4xl md:text-5xl;
  }

  .divider {
    @apply mt-4 mb-4 border-light-500 dark:border-dark-100;
  }

  .menu-link:after {
    @apply text-dark-500;
    content: " /";
  }

  .dark .menu-link:after {
    @apply text-light-100;
  }

  .menu-link.active {
    @apply text-light-500 dark:text-light-500;
  }

  .menu-link.active:after {
    @apply text-light-500;
    content: " <";
  }

  .dark .menu-link.active:after {
    @apply text-light-500;
  }

  .contact-section {
    @apply mb-4 grid w-full gap-x-4 gap-y-2 md:grid-cols-5;
  }

  .contact-input {
    @apply col-span-4 w-full border-light-500 bg-transparent px-2 text-base text-dark-100 focus:outline-none dark:border-dark-100 dark:text-light-500;
    @apply autofill:text-dark-100 autofill:caret-dark-100 autofill:shadow-(--autofill-light) dark:autofill:text-light-500 dark:autofill:caret-light-500 dark:autofill:shadow-(--autofill-dark);
  }
}
