@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Goli";
  src: url("fonts/Goli/Goli.ttf") format("truetype");
}

@layer components {
  .connect-link {
    @apply mr-2 hover:cursor-pointer lg:mr-4;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
